<div class="container">
  <div class="content-table">
    <h1>Vehicles</h1>

    <hr class="line">

    <div class="header-table">
      <mat-form-field class="example-form-field search" appearance="fill">
        <mat-label>Search</mat-label>
        <input matInput type="text" class="search-input" (input)="getValue($event)">
      </mat-form-field>

      <div class="add">
        <button mat-button color="primary" (click)="add()">
          <span>Add Vehicle</span>
        </button>
      </div>
    </div>

    <ng-template [ngIf]="getAllVehicle">
      <div class="progress-bar">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>
    </ng-template>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table">
      <ng-container matColumnDef="icon">
        <th mat-header-cell *matHeaderCellDef>icon</th>
        <td mat-cell *matCellDef="let vehicle"><img src="https://cdn.readymix.io/img/icons/{{ vehicle.icon }}"></td>
      </ng-container>

      <ng-container matColumnDef="codbt">
        <th mat-header-cell *matHeaderCellDef>internal Code</th>
        <td mat-cell *matCellDef="let vehicle"> {{ vehicle.codbt }} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let vehicle"> {{ vehicle.name }} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let vehicle">
          <button mat-icon-button (click)="edit(vehicle.id)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="deleteVehicle(vehicle.id)">
            <mat-icon class="mat-buttons">delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <div class="paginate">
      <mat-paginator [length]="100" [pageSizeOptions]="[2, 5, 10]" aria-label="Select page">
      </mat-paginator>
    </div>
  </div>
</div>
