<h1 *ngIf="isChange" mat-dialog-title>Create Vehicle</h1>
<h1 *ngIf="!isChange" mat-dialog-title>Edit Vehicle</h1>

<div mat-dialog-content class="content">
  <mat-form-field appearance="fill" class="collum">
    <mat-label>Icon</mat-label>
    <mat-select [(value)]="selected" [(ngModel)]="data.icon">
      <mat-option>None</mat-option>
      <mat-option value="option1">Option 1</mat-option>
      <mat-option value="option2">Option 2</mat-option>
      <mat-option value="option3">Option 3</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" class="collum">
    <mat-label>Internal Code</mat-label>
    <input matInput [(ngModel)]="data.internalCode">
  </mat-form-field>

  <mat-form-field appearance="fill" class="collum">
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="data.name">
  </mat-form-field>
</div>

<hr>

<div mat-dialog-actions class="footer-dialog">
  <button mat-button (click)="cancel()">Cancel</button>
  <button *ngIf="isChange" mat-stroked-button [mat-dialog-close]="data" cdkFocusInitial color="primary">Create</button>
  <button *ngIf="!isChange" mat-stroked-button [mat-dialog-close]="data" cdkFocusInitial color="primary">Edit Vehicle</button>
</div>
