<div class="container">
  <div class="content-form">
    <form [formGroup]="form">
      <div class="title">
        <h1>Login</h1>
      </div>

      <div class="form-group fields">
        <mat-form-field appearance="fill">
          <mat-label>E-mail:</mat-label>
          <input type="email" matInput formControlName="email">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Password:</mat-label>
          <input type="password" matInput formControlName="password">
        </mat-form-field>
      </div>

      <div class="buttons">
        <button type="submit" mat-stroked-button color="primary" (click)="makeLogin()" [disabled]="form.invalid">Login</button>
      </div>
    </form>
  </div>

  <div class="content-welcome">
    <h1>Welcome</h1>
  </div>
</div>
