<div class="container">

<div class="content-form">
  <form>
    <div class="title">
      <h1>Login</h1>
    </div>

    <div class="fields">
      <mat-form-field appearance="fill">
        <mat-label>Name:</mat-label>
        <input type="text" matInput [value]="name">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Company Name:</mat-label>
        <input type="text" matInput [value]="companyName">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Password:</mat-label>
        <input type="password" matInput [value]="password">
      </mat-form-field>
    </div>
  </form>
</div>

<div class="content-image">

</div>

</div>

